* {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: white;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}

.dateClass {
  display: flex;
  margin-top: 2rem;
}

.outputDayCount {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 5rem;
}

.dateClass .currentDate {
  padding: 2rem;
}

.dateClass .userDate {
  padding: 2rem;
}

.outputDayCount {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 1.5rem;
}

input {
  margin: 1.5rem;
  background-color: grey;
  border: none;
}

button {
  width: 80px;
  margin: 0.5rem;
  background-color: blueviolet;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}

#outputWeekName {
  margin-top: 0.5rem;
}
